@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  /* background-image: url('https://images.unsplash.com/photo-1586105251261-72a756497a11?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1258&q=80') */
  background-image: url('../public/assets/berjotine-homepage-2.jpg');
  aspect-ratio: attr(width) / attr(height);
}
